*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sign{
    width: 40%;
    margin: 15% auto;
    border: 2px solid black;
    padding: 40px 30px;  
    text-align: start;
}
.sign h1{
    font-size: 40px;
}
.sign label{
    font-size: 20px;
}
.sign input{
    width: 100%;
    padding: 10px;
}
.login{
    width: 40%;
    margin: 20% auto;
    border: 2px solid black;
    padding: 30px;
}
.login label{
    font-size: 20px;
}
.login input{
   width: 70%;
   padding: 15px; 
}

